@CHARSET "UTF-8";

body{
	background-color: black;
}

/* 输入行相关 */
.commandLine{
	color: white;	
}
.lineText{
	display: inline;
}
.cursorOn{
	text-decoration: underline;
}

/* 调试 */
#debug{
	color: red;
}

/* 右键菜单 */
#rightClick{
	position: fixed;
	left: 200px;
	top: 200px;
	
	background-color: orange;
	color: black;
	display: none;
	border: groove;
	z-index: 2; /*要高于冻结层*/
}
#rightClick a{
	display: block;
	text-decoration: none;
	color: inherit;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
}
#rightClick a:hover{
	color: white;
}

/* 模态框 */
#modal{
	color: white;
	position: fixed;
	display: none;
	z-index: 2; /*要高于冻结层*/
}
